
<div class="text-center">
  <img class="rounded-circle" src="img/Ryo Yamada.jpeg" width="200"></img>
  <h2>Pianndi</h2>
  <p>
    Seorang yang belajar menjadi fullstack developer dan mempunyai waifu bernama <b>Nakano Miku</b>
  </p>
</div>