<h2>ini adalah halaman contact</h2>
<a href="/contact/add" class="btn btn-success rounded">Tambah Data</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">No Telp</th>
      <th scope="col">Nama</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% contacts.forEach((contact, i)=> {
      %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= contact.telp %></td>
        <td><%= contact.nama %></td>
        <td><a href="/contact/<%= contact.telp %>" class="btn btn-primary badge rounded">details</a></td>
      </tr>
      <%
    }) %>
  </tbody>
</table>